body {
    background-color: aliceblue;
    width: 1000px;
    font-family: helvetica;
}

nav {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

nav li:hover {
    border-top: 3px solid grey;
}

nav h1 {
    font-size: 30px;
}